body {
  background-color: white;
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
  overflow: hidden;

}

#sketch [thought] {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
}